// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary			: #27ae60;

$color-gray 			: #808080;
$color-white 			: #fff;
$color-main-opacity		: rgba(0, 94, 184, 0.5);
$color-black-opacity	: rgba(0,0,0,0.5);
$colo-white-opacity		: rgba(255, 255, 255, 0.5);
$color-default 			: #333;
$color-main 			: #005eb8;
$color-main-dark 		: #003468;
$color-main-dark-dark 	: #001b47;
$color-btn-submit 		: #F44336;
$color-btn-submit-main 	: #bd0b0b;
$color-btn-review 		: #07d4b2;
$color-btn-review-main 	: #009688;